// Typography
$font-family-sans-serif: 'Roboto Mono', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Theme
$bg-color: #000000;
$primary-color: #FF0000;
$secondary-color: #950101;
$contrast-color: #3D0000;
