// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Helpers
@import 'helpers';

// Tailwind
@import '~tailwindcss/tailwind.css';

@import "components/header";

body {
    background: $bg-color;
    color: white;
    margin: 0;
    font-family: $font-family-sans-serif;
}
